[submodule "bronco-button"]
	path = bronco-button
	url = https://github.com/marius2502/bronco-button.git
[submodule "bronco-left-navbar"]
	path = bronco-left-navbar
	url = https://github.com/marius2502/bronco-left-navbar.git
[submodule "bronco-corner-navbar"]
	path = bronco-corner-navbar
	url = https://github.com/marius2502/bronco-corner-navbar.git
[submodule "bronco-top-navbar"]
	path = bronco-top-navbar
	url = https://github.com/marius2502/bronco-top-navbar.git
[submodule "bronco-side-navbar"]
	path = bronco-side-navbar
	url = https://github.com/marius2502/bronco-side-navbar.git
[submodule "bronco-template"]
	path = bronco-template
	url = https://github.com/marius2502/bronco-template.git
[submodule "bronco-searchbar"]
	path = bronco-searchbar
	url = https://github.com/marius2502/bronco-searchbar.git
[submodule "bronco-icon"]
	path = bronco-icon
	url = https://github.com/marius2502/bronco-icon.git
[submodule "bronco-calendar"]
	path = bronco-calendar
	url = https://github.com/marius2502/bronco-calendar.git
[submodule "bronco-chip"]
	path = bronco-chip
	url = https://github.com/marius2502/bronco-chip.git

