:host {
  --bg-color: rgb(61, 61, 61);
  --color: white;
  --primary-color: #78c0a8;
  --min-height: 0px;
  --font-size: 1.1em;
}

bronco-chip {
  margin: auto 5px;
}

.chip-list {
  background-color: var(--bg-color);
  border-radius: 10px;
  border-width: 0 0 1px;
  border-bottom: 1px solid;
  border-bottom-color: var(--primary-color);
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 2px 2px 4px 5px #c7c7c7c9;
  min-height: var(--min-height);
}

.chip-list:focus-within {
  box-shadow: 2px 2px 4px 4px var(--primary-color);
}

.chip-list > bronco-chip {
  padding: 5px 2px;
  display: flex;
}

input {
  color: var(--color);
  outline: none;
  font-size: var(--font-size);
  border: none;
  padding: 5px;
  margin: auto 0px;
  width: 100%;
  overflow: visible;
  background: none;
  border-bottom: 1px solid #ffffffc9;
}

input:focus {
  border-bottom: 1px solid var(--primary-color);
}

input:focus .chip-list {
  box-shadow: 2px 2px 4px 4px red;
}

input::placeholder {
  color: #ffffffc9;
}

input:focus::placeholder {
  color: var(--primary-color);
}
