@import "../../icons.scss";
@import "../../customBootstrap.scss";
@import "../../codeStyle.scss";
@import "../../customGrid.scss";



bronco-corner-navbar {
  --position: absolute;
  --right: 20px;
  --top: 100px;
}

.green {
  --primary-color: rgb(52, 255, 52);
}