@import "../customGrid.scss";


:host {
  --primary-color: rgb(29, 202, 255);
}

bronco-searchbar {
  --bg-color: rgba(255, 255, 255, 0.178);
}

bronco-top-navbar.onTop {
  --box-shadow: none;
  --bg-color: rgba(255, 255, 255, 0.157);
}

.landingImg {
  left: 0px;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ffffff, #fafbff, #f2f9ff, #e8f7ff, #dcf5ff, #cff2ff, #c2f0ff, #b4edff, #a3e9ff, #90e4ff, #7ce0ff, #64dbff);
}

.landingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh; // Subtract height of header bar
}


.center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media only screen and (min-width: 928px) {
  .center {
    max-width: 50%;
  }
}

.center > * {
  width: 100%;
  text-align: center;
}

.logo {
  width: 90%;
}

.imgInstallation, .imgElements {
  width: 100%;
}

@media only screen and (min-width: 928px) {
  .logo {
    width: 50%;
  }
}

.header {
  margin: 30px 0px;
}

.divider {
  width: 66%;
  box-shadow: 0 8px 8px -8px rgba(128, 128, 128, 0.322);
  border: 0.5px solid rgba(172, 172, 172, 0.198);
}

.getStarted {
  opacity: 0.9;
}

// Arrow down icon

.drag {
  background: white;
  border-radius: 50%;
  box-shadow: 0px 8px 8px rgba(128, 128, 128, 0.212);
  cursor: pointer;
  height: 50px;
  position: absolute;
  width: 50px;
}

.drag.down {
  bottom: 10%;
}

.drag.up {
  top: 10%;
}

.drag bronco-icon {
  --size: 50px;  /* Preferred icon size */
  --color: grey;
}

.drag bronco-icon:hover {
  --color: var(--primary-color);
}
