@import "../variables.scss";
@import "../customBootstrap.scss";


bronco-top-navbar {
  --height: 3em;
}

bronco-side-navbar {
  --sidebar-width: 15em;
}

bronco-template {
  --shadow-header: none;
  --shadow-nav: none;
}

bronco-searchbar {
  --color: black;
}

section {
  padding: 50px 10px;
}

section:last-of-type {
  margin-bottom: 500px;
}

@media only screen and (min-width: 928px) {
  section {
    max-width: 100vw;
    padding: 50px 50px;
    margin: 30px 30px;
  }
}

@media only screen and (min-width: 1400px) {
  section {
    max-width: 100vw;
    padding: 50px 50px;
    margin: 30px 120px;
  }
}