@import "../../icons.scss";
@import "../../customGrid.scss";
@import "../../codeStyle.scss";


img {
  width: 90%;
  height: 90%;
  margin: 50px;
  box-shadow: 4px 4px 4px 4px rgba(128, 128, 128, 0.322);
}