@import './variables.scss';

.componentInfo {
  background-color: #1d1d1d;
  border-radius: 15px;
  margin: 20px;
  padding: 10px 30px;
  word-wrap: break-word;
}


.codeInput {
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  color: #d7ba7d !important;
  background-color: #1d1d1d;
  max-width: 200px;
}

.tag {
  color: #569cd6;
}

.attribute {
  color: #9cdcfe;
}

.attributeName {
  color: #d7ba7d !important;
}

.comment {
  color: #6a9955;
}

a {
  cursor: pointer;
}

.material-icons {
  font-size: 30px;
  color: grey;
}

.material-icons:hover {
  font-size: 31px;
  color: black;
}

a {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  font-size: 0.5em;
  text-align: center;
}
a[title]:hover:after {
  content: attr(title);
  position: absolute;
  top: -90%;
  left: -1px;
  color: var(--primary-color);
}
