
$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

body {
  padding: 0;
  margin: 0;
  font-family: Consolas, "Courier New", monospace;
}

