body {
  padding: 0;
  margin: 0;
  font-family: Consolas, "Courier New", monospace;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../node_modules/material-icons/iconfont/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("../node_modules/material-icons/iconfont/MaterialIcons-Regular.woff2") format('woff2'),
    url("../node_modules/material-icons/iconfont/MaterialIcons-Regular.woff") format('woff'),
    url("../node_modules/material-icons/iconfont/MaterialIcons-Regular.ttf") format('truetype');
}