:host {
  --primary-color: rgb(29, 202, 255);
  --primary-color: #caf3ff;
  --primary-color-hover: rgb(13, 183, 235);
  --primary-color-shadow: rgba(13, 183, 235, 0.308);
  --secondary-color: #838383;
}

  // Bootstrap responsive breakpoints
  $break-small: 576px;
  $break-medium: 768px;
  $break-large: 1092px;
  $break-extra-large: 1200px;
